body{
	margin:0;
	color:#999;
	font-size:20px;
}

a{
	text-decoration: none;
	color:#111
}

.background{
	background:url(../img/thailand.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height:350px;
}
.profile{
	max-width: 280px;
	max-height:280px;
	overflow: hidden;
	border-radius:50%;
	background:#f4f4f4;
	-moz-border-radius: 50%;
	-khtml-border-radius: 50%;
	-webkit-border-radius: 50%;
	margin: -160px auto 0px;
	display:block;
}

.description{
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	font-size:1.5em;
	line-height: 1.2em;
	font-family: 'Inika', sans-serif;
	width:50%;
	text-align:center;
}

@media only screen and (max-width: 320px) {

body {
	height:auto;
	margin:0;
	padding:0;
}

.background{
	display:none;
	} 

.profile{
	display: none;
}

.profile_mobile{
	margin: 0px auto 0px;
	width: 500px;
	height: 500px;
	background:url(../img/fei4.jpg) no-repeat;
	}

.description{
	max-width: auto;
	font-size:40px;
}

	}