body{
	margin:0;
	color:#999;
	font-size:20px;
}

a{
	text-decoration: none;
	color:#111
}

.background{
	background:url(../img/thailand.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height:350px;
}
.profile{
	max-width: 280px;
	max-height:280px;
	overflow: hidden;
	border-radius:50%;
	background:#f4f4f4;
	-moz-border-radius: 50%;
	-khtml-border-radius: 50%;
	-webkit-border-radius: 50%;
	margin: -160px auto 0px;
	display:block;
}

.description{
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	font-size:1.5em;
	line-height: 1.2em;
	font-family: 'Inika', sans-serif;
	width:50%;
	text-align:center;
}

@media all and (max-width: 480px) {

body {
	height:500px;
	margin:0;
	padding:0;
}

.background{
	background:url(../img/thailand_sm.jpg) no-repeat;
	width:480px;
  	height:400px;
  	margin:0;
  	padding:0;
	} 

.description{
	width:75%;
	font-size:30px;
}

.profile{
	min-width: 280px;
	min-height:280px;
	}

	}